<template>
    <section class="single-recipe">
        <h1>{{ recipe.title }}</h1>
        <div>
            <img class="recipe-image" :src="recipe.thumbnail" :alt="recipe.title">
        </div>
        <p>{{ recipe.descriptionText }}</p>
    </section>
</template>

<script>
export default {
    asyncData(context){
        return new Promise((resolve,reject)=>{
            setTimeout(() => {
                resolve({
                    recipe: [
                        {
                            id:"1",
                            title:"Delicious Pizza",
                            previewText:"Awesome Pizza",
                            descriptionText:"This is really a delicious meal!",
                            thumbnail:"https://static2.proactiveinvestors.com.au/thumbs/upload/News/Image/2017_07/672z311_pizza%2C_sized_596d7b0bb81d5.png"
                        },
                        {
                            id:"2",
                            title:"Chinese Manchurians",
                            previewText:"Yummy Manchurians",
                            descriptionText:"This is really a delicious meal!",
                            thumbnail:"https://www.cookingclassy.com/wp-content/uploads/2019/09/meatballs-21.jpg"
                        }
                    ].find(el=> el.id === context.params.id)
                })
            }, 1500);
        })
    }
}
</script>



<style scoped>
.single-recipe{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.recipe-image{
    width: 50%;
}
</style>