<template>
    <section class="recipes">
        <Recipe
            v-for="recipe in recipes"
            :key="recipe.id"
            :thumbnail="recipe.thumbnail"
            :title="recipe.title"
            :id="recipe.id"
            :previewText="recipe.previewText"/>
    </section>
</template>

<script>
import Recipe from '@/components/Recipe'

export default {
    components:{
        Recipe
    },
    asyncData(){
        return new Promise((resolve,reject)=>{
            setTimeout(() => {
                resolve({
                    recipes: [
                        {
                            id:"1",
                            title:"Delicious Pizza",
                            previewText:"Awesome Pizza",
                            thumbnail:"https://static2.proactiveinvestors.com.au/thumbs/upload/News/Image/2017_07/672z311_pizza%2C_sized_596d7b0bb81d5.png"
                        },
                        {
                            id:"2",
                            title:"Chinese Manchurians",
                            previewText:"Yummy Manchurians",
                            thumbnail:"https://www.cookingclassy.com/wp-content/uploads/2019/09/meatballs-21.jpg"
                        }
                    ]
                })
            }, 1500);
        })
    }
}
</script>
<style scoped>
.recipes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


</style>